{%- liquid 
    if use_variant
    assign target = product.selected_or_first_available_variant
  else
    assign target = product
  endif

  assign compare_at_price = target.compare_at_price
  assign price = target.price | default: 1999
  assign available = target.available | default: false
  assign money_price = price | money
  if settings.currency_code_enabled
    assign money_price = price | money_with_currency
  endif

  if target == product and product.price_varies
    assign money_price = 'products.product.price.from_price_html' | t: price: money_price
  endif

-%}


<div class="productmain1__details__price">

{%if product.compare_at_price > product.price %}

    <div class="productmain1__details__price__sale">
        {%- unless product.price_varies == false and product.compare_at_price_varies %}
            <span class="visually-hidden visually-hidden--inline">{{ 'products.product.price.regular_price' | t }}</span>
            <h4>
            <s class="price-item price-item--regular">
                {% if settings.currency_code_enabled %}
                {{ compare_at_price | money_with_currency }}
                {% else %}
                {{ compare_at_price | money }}
                {% endif %}
            </s>
            </h4>
        {%- endunless -%}
        <span class="visually-hidden visually-hidden--inline">{{ 'products.product.price.sale_price' | t }}</span>
        <h4 class="price-item price-item--sale price-item--last">
            {{ money_price }}
        </h4>
    </div>

    {% elsif product.price_varies %}

    <div class="productmain1__details__price__regular">
        <span class="visually-hidden visually-hidden--inline">{{ 'products.product.price.regular_price' | t }}</span>
        <h4 class="price-item price-item--regular">
           From: {{ money_price }}
        </h4>
    </div>

    {% else %}

    <div class="productmain1__details__price__regular">
        <span class="visually-hidden visually-hidden--inline">{{ 'products.product.price.regular_price' | t }}</span>
        <h4 class="price-item price-item--regular">
            {{ money_price }}
        </h4>
    </div>

    {% endif %}

    {%- if product.compare_at_price > product.price or product.available == false -%}
    <div class="badges">
      {%- if product.compare_at_price > product.price -%}
      <span class="badge price__badge-sale color-{{ settings.sale_badge_color_scheme }}">
        {{ 'products.product.on_sale' | t }}
      </span>
      {%- endif -%}
      {%- if product.available == false -%}
        <span class="badge price__badge-sold-out color-{{ settings.sold_out_badge_color_scheme }}">
        {{ 'products.product.sold_out' | t }}
        </span>
      {%- endif -%}
    </div>
    {%- endif -%}
</div>