{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
<link rel="stylesheet" href="{{ 'component-newsletter.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-payment.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-list-social.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'disclosure.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-social.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'disclosure.css' | asset_url | stylesheet_tag }}</noscript>

<footer class="footer" style="background-color: {{ section.settings.footer_background | color_modify: 'alpha', section.settings.background_opacity }};">
  <div class="container">
      <div class="row">
          <div class="col-lg-9 col-12">
              <div class="row">
                {% for block in section.blocks %}
                  <div class="col-lg-4 col-12">
                      <div class="footer__links">
                        <input type="checkbox" class="footer__checkbox">
                        <span class="footer__column-title">{{ block.settings.heading}} 
                          <i class="fas fa-plus"></i>
                        </span>
                        <div class="footer__menu-links-wrapper">
                          {% for link in block.settings.menu.links %}
                          <a class="footer__link" href="{{ link.url }}">{{ link.title }}</a>
                          {% endfor %}
                        </div>
                      </div>
                  </div>
                {% endfor %}
              </div>
          </div>
          <div class="col-lg-3 col-12">
            {% if section.settings.show_social_header != false %}
              <span class="footer__column-title footer__column-title__newsletter">{{ section.settings.social_column_header }}</span>
            {% endif %}
            {% if section.settings.newsletter_enable != false %}
              <p class="footer__paragraph">{{ section.settings.newsletter_heading}}</p>
              <div class="footer__email-input-wrapper">

                {%- form 'customer' -%}
                  <input type="hidden" name="contact[tags]" value="newsletter">
                  <div class="newsletter-form__field-wrapper">
                    <div class="field">
                      <input
                        type="email"
                        name="contact[email]"
                        class="footer__email-input"
                        value="{{ form.email }}"
                        aria-required="true"
                        autocorrect="off"
                        autocapitalize="off"
                        autocomplete="email"
                        {% if form.errors %}
                          autofocus
                          aria-invalid="true"
                          aria-describedby="ContactFooter-error"
                        {% elsif form.posted_successfully? %}
                          aria-describedby="ContactFooter-success"
                        {% endif %}
                        placeholder="{{ section.settings.input_field_placeholder }}"
                        required
                      >
                      <button type="submit" name="commit" id="Subscribe" aria-label="{{ 'newsletter.button_label' | t }}" class="footer__email-input__icon">
                        <i class="far fa-envelope fa-lg"></i>
                      </button>
                    </div>
                    {%- if form.errors -%}
                      <small class="newsletter-form__message form__message" id="ContactFooter-error">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</small>
                    {%- endif -%}
                  </div>
                  {%- if form.posted_successfully? -%}
                    <h3 class="newsletter-form__message newsletter-form__message--success form__message" id="ContactFooter-success" tabindex="-1" autofocus>{% render 'icon-success' %}{{ 'newsletter.success' | t }}</h3>
                  {%- endif -%}
                {%- endform -%}

              </div>
            {% endif %}
              {% if section.settings.show_social != false %}
              <div class="footer__social-icons">
				{% if settings.social_instagram_link != blank %}
					<a class="footer__social-icons__icon">
						<i class="fab fa-instagram fa-lg"></i>
					</a>
				{% endif %}
				{% if settings.social_facebook_link != blank %}
					<a class="footer__social-icons__icon">
						<i class="fab fa-facebook-f fa-lg"></i>
					</a>
				{% endif %}
				{% if settings.social_youtube_link != blank %}
					<a class="footer__social-icons__icon">
						<i class="fab fa-youtube fa-lg"></i>
					</a>
				{% endif %}
				{% if settings.social_pinterest_link != blank %}
					<a class="footer__social-icons__icon">
						<i class="fab fa-pinterest-p fa-lg"></i>
					</a>
				{% endif %}
              </div>
            {% endif %}
          </div>
      </div>
  </div>
</footer>

<div class="footer-bar">
  <div class="footer-bar__logo">
    <a href="{{ routes.root_url }}">
      {%- if section.settings.logo != blank -%}
      {%- assign image_size = section.settings.logo_width | append: 'x' -%}
      <img srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
        src="{{ section.settings.logo | img_url: image_size }}"
        loading="lazy"
        class="header__heading-logo"
        width="{{ section.settings.logo.width }}"
        height="{{ section.settings.logo.height }}"
        alt="{{ section.settings.logo.alt | default: shop.name | escape }}"
      >
    {%- else -%}
      {{ shop.name }}
    {%- endif -%}</a>
  </div>
  <div class="footer-bar__copyright">
    <span>© {{ 'now' | date: "%Y" }}, {{ shop.name }}</span>
  </div>
</div>

{% schema %}
{
	"name": "t:sections.footer.name",
	"blocks": [{
		"type": "link_list",
		"name": "t:sections.footer.blocks.link_list.name",
		"settings": [{
				"type": "text",
				"id": "heading",
				"default": "Quick links",
				"label": "t:sections.footer.blocks.link_list.settings.heading.label",
				"info": "t:sections.footer.blocks.link_list.settings.heading.info"
			},
			{
				"type": "link_list",
				"id": "menu",
				"default": "footer",
				"label": "t:sections.footer.blocks.link_list.settings.menu.label",
				"info": "t:sections.footer.blocks.link_list.settings.menu.info"
			}
		]
	}],
	"settings": [{
			"type": "color",
			"id": "footer_background",
			"label": "Background color",
			"default": "#d3c5be"
		},
		{
			"type": "range",
			"id": "background_opacity",
			"min": 0,
			"max": 1,
			"step": 0.1,
			"label": "Opacity",
			"default": 1
		},
		{
			"type": "header",
			"content": "Social column header"
		},
		{
			"type": "checkbox",
			"id": "show_social_header",
			"default": true,
			"label": "Show social column header"
		},
		{
			"type": "text",
			"id": "social_column_header",
			"default": "Follow Us",
			"label": "Enter header text"
		},
		{
			"type": "header",
			"content": "t:sections.footer.settings.header__1.content",
			"info": "t:sections.footer.settings.header__1.info"
		},
		{
			"type": "checkbox",
			"id": "newsletter_enable",
			"default": true,
			"label": "t:sections.footer.settings.newsletter_enable.label"
		},
		{
			"type": "text",
			"id": "newsletter_heading",
			"default": "Don't miss out! Join us to get special offers.",
			"label": "t:sections.footer.settings.newsletter_heading.label"
		},
		{
			"type": "text",
			"id": "input_field_placeholder",
			"default": "jane@gmail.com",
			"label": "Signup box placeholder"
		},
		{
			"type": "header",
			"content": "t:sections.footer.settings.header__2.content",
			"info": "t:sections.footer.settings.header__2.info"
		},
		{
			"type": "checkbox",
			"id": "show_social",
			"default": false,
			"label": "t:sections.footer.settings.show_social.label"
		},
		{
			"type": "image_picker",
			"id": "logo",
			"label": "Logo image"
		}
	],
	"default": {
		"blocks": [{
				"type": "link_list"
			}
		]
	}
}
{% endschema %}
