{{ 'Header1.css' | asset_url | stylesheet_tag }}

{% case section.settings.header_type %}
  {% when 'header1'%}  
  <header class="header header1">
    <div class="header1__header-main">
      {%- if section.settings.menu != blank -%}
        <div class="header1__menu-toggle-wrapper" 
            x-data="{ showMenu: false }"
            @toggle-cart.window="showMenu = !showMenu">
          <input type="checkbox" class="menu-toggle" @click="$dispatch('toggle-cart')">
          <span></span>
          <span></span>
          <span></span>
          <ul class="header1__mobile-navigation" 
          x-show="showMenu"
          x-transition:enter="transform transition ease-in-out duration-500 sm:duration-700" 
          x-transition:enter-start="-translate-x-full opacity-0" 
          x-transition:enter-end="translate-x-0 opacity-100" 
          x-transition:leave="transform transition ease-in-out duration-500 sm:duration-700" 
          x-transition:leave-start="translate-x-0" 
          x-transition:leave-end="-translate-x-full opacity-0">
            {%- for link in section.settings.menu.links -%}
            {%- if link.links == blank -%}
              <li>
                <a href="{{ link.url }}">{{ link.title | escape }}</a>
              </li>
              {%-else-%}
              <li class="header1__expanding-link">
                <a href="{{ link.url }}">
                  {{ link.title | escape }} 
                  <i class="fas fa-chevron-down"></i>
                  <ul class="header1__sub-links">
                    {%- for childlink in link.links -%}
                      <li><a href="{{ childlink.url }}">{{ childlink.title | escape }}</a></li>
                    {%-endfor-%}
                  </ul>
                </a>
              </li>
            {%-endif-%}
            {%-endfor-%}
          </ul>
        </div>
      {%- endif -%}

        {% comment %} Logo {% endcomment %}
        <div class="logo-wrapper">
          <a href="{{ routes.root_url }}">
            {%- if section.settings.logo != blank -%}
            {%- assign image_size = section.settings.logo_width | append: 'x' -%}
            <img srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
              src="{{ section.settings.logo | img_url: image_size }}"
              loading="lazy"
              class="header__heading-logo"
              width="{{ section.settings.logo.width }}"
              height="{{ section.settings.logo.height }}"
              alt="{{ section.settings.logo.alt | default: shop.name | escape }}"
            >
          {%- else -%}
            {{ shop.name }}
          {%- endif -%}</a>
        </div>
        {% comment %} Right Column {% endcomment %}
        <div class="search-wrapper">
          <input type="text" placeholder="search"><a href="/link"><i class="fas fa-search"></i></a>
        </div>
        <div class="user-wrapper" x-data>
            <div class="search">
              <input type="checkbox" class="checkbox">
              <input type="text" class="search-box">
              <div class="search-btn"><i class="fas fa-search"></i></div>
            </div>
            {%- if shop.customer_accounts_enabled -%}
              <a class="account-btn" href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}">ACCOUNT</a>
            {%- endif -%}
            
            <span class="cart-btn" @click="$dispatch('toggle-cart')"><i class="fas fa-shopping-cart"></i></span>
        </div>
    </div>
    {%- if section.settings.menu != blank -%}
        <ul class="header1__navigation">
          {%- for link in section.settings.menu.links -%}
          {%- if link.links == blank -%}
            <li><a href="{{ link.url }}">{{ link.title | escape }}</a></li>
            {%-else-%}
            <li class="header1__expanding-link">
              <a href="{{ link.url }}">{{ link.title | escape }} <i class="fas fa-chevron-down"></i>
                  <ul class="header1__sub-links">
                    {%- for childlink in link.links -%}
                      <li>
                        <a href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
                      </li>
                      {%-endfor-%}
                  </ul>
              </a>
            </li>
            {%-endif-%}
            {%-endfor-%}
        </ul>
    {%-endif-%}
  </header>

  {% comment %} HEADER 2 STARTS {% endcomment %}
  {% when 'header2'%}
    <header class="header header2">
      <div class="header2__header-main">
          <div class="navigation-wrapper"><a href="/link" class="header1__expanding-link">LINK <i class="fas fa-chevron-down"></i>
                  <ul class="header1__sub-links">
                      <li><a href="#">Link</a></li>
                      <li><a href="#">Link</a></li>
                      <li><a href="#">Link</a></li>
                      <li><a href="#">Link</a></li>
                  </ul>
              </a><a href="/link">LINK</a><a href="/link">LINK</a></div>
          <div class="logo-wrapper"><a href="/link">LOGO</a></div>
          <div class="user-wrapper"><a href="/link"><i class="fas fa-search"></i></a><a href="/account"><i class="fas fa-user"></i></a><a href="/cart"><i class="fas fa-shopping-cart"></i></a></div>
      </div>
    </header>

    {% comment %} HEADER 3 STARTS {% endcomment %}
  {% when 'header3'%} 
  <header class="header header3">
    <div class="header3__header-main">
        <div class="nav-logo">
            <div class="logo-wrapper"><a href="/link">LOGO</a></div>
            <div class="navigation-wrapper"><a href="/link" class="header3__expanding-link">LINK <i class="fas fa-chevron-down"></i>
                    <ul class="header3__sub-links">
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                        <li><a href="#">Link</a></li>
                    </ul>
                </a><a href="/link">LINK</a><a href="/link">LINK</a></div>
        </div>
        <div class="user-wrapper">
            <div class="search-wrapper"><input type="text" placeholder="search"><a href="/link"><i class="fas fa-search"></i></a></div><a href="/account">ACCOUNT</a><a href="/cart">CART (0)</a>
        </div>
    </div>
  </header>

{% endcase%}




{% schema %}
{
  "name": "t:sections.header.name",
  "settings": [
    {
      "type": "select",
      "id": "header_type",
      "label": "Select a Header",
      "options": [
        {
          "value": "header1",
          "label": "Header 1"
        },
        {
          "value": "header2",
          "label": "Header 2"
        },
        {
          "value": "header3",
          "label": "Header 3"
        }
      ],
      "default": "header1"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.header.settings.logo.label"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 50,
      "max": 250,
      "step": 10,
      "default": 100,
      "unit": "t:sections.header.settings.logo_width.unit",
      "label": "t:sections.header.settings.logo_width.label"
    },
    {
      "type": "select",
      "id": "logo_position",
      "options": [
        {
          "value": "middle-left",
          "label": "t:sections.header.settings.logo_position.options__1.label"
        },
        {
          "value": "top-left",
          "label": "t:sections.header.settings.logo_position.options__2.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.header.settings.logo_position.options__3.label"
        }
      ],
      "default": "middle-left",
      "label": "t:sections.header.settings.logo_position.label"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "checkbox",
      "id": "show_line_separator",
      "default": true,
      "label": "t:sections.header.settings.show_line_separator.label"
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_header",
      "default": true,
      "label": "t:sections.header.settings.enable_sticky_header.label",
      "info": "t:sections.header.settings.enable_sticky_header.info"
    }
  ]
}
{% endschema %}
