{{ 'product-main.css' | asset_url | stylesheet_tag }}
{{ 'flickity.min.js' | asset_url | script_tag }}

<div class="productmain1">
  <div class="productmain1__images">
      <div class="productmain1__thumbnail">
        {% for media in product.media %}
          <div class="productmain1__thumbnail__item">
            <img
              srcset="{%- if media.preview_image.width >= 165 -%}{{ media.preview_image | img_url: '165x' }} 165w,{%- endif -%}
                  {%- if media.preview_image.width >= 360 -%}{{ media.preview_image | img_url: '360x' }} 360w,{%- endif -%}
                  {%- if media.preview_image.width >= 535 -%}{{ media.preview_image | img_url: '535x' }} 535w,{%- endif -%}
                  {%- if media.preview_image.width >= 750 -%}{{ media.preview_image | img_url: '750x' }} 750w,{%- endif -%}
                  {%- if media.preview_image.width >= 1070 -%}{{ media.preview_image | img_url: '1070x' }} 1070w,{%- endif -%}
                  {%- if media.preview_image.width >= 1500 -%}{{ media.preview_image | img_url: '1500x' }} 1500w,{%- endif -%}
                  {{ media.preview_image | img_url: 'master' }} {{ media.preview_image.width }}w"
              src="{{ media.preview_image | img_url: '1500x' }}"
              sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 1080px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
              alt="{{ media.preview_image.alt | escape }}"
              loading="lazy"
              width="{{ media.preview_image.width }}"
            >
          </div>
        {% endfor %}
      </div>
      <div class="productmain1__feature" data-flickity="{ &quot;groupCells&quot;: true, &quot;cellAlign&quot;: &quot;center&quot;, &quot;wrapAround&quot;: true, &quot;draggable&quot;: false, &quot;pageDots&quot;: false, &quot;arrowShape&quot;: &quot;M2.87868 47.8787C1.70711 49.0503 1.70711 50.9497 2.87868 52.1213L21.9706 71.2132C23.1421 72.3848 25.0416 72.3848 26.2132 71.2132C27.3848 70.0416 27.3848 68.1421 26.2132 66.9706L9.24264 50L26.2132 33.0294C27.3848 31.8579 27.3848 29.9584 26.2132 28.7868C25.0416 27.6152 23.1421 27.6152 21.9706 28.7868L2.87868 47.8787ZM96 47L5 47L5 53L96 53L96 47Z&quot; }">
        {% for media in product.media %}
          <div class="productmain1__feature__item">
            <img
            srcset="{%- if media.preview_image.width >= 165 -%}{{ media.preview_image | img_url: '165x' }} 165w,{%- endif -%}
                {%- if media.preview_image.width >= 360 -%}{{ media.preview_image | img_url: '360x' }} 360w,{%- endif -%}
                {%- if media.preview_image.width >= 535 -%}{{ media.preview_image | img_url: '535x' }} 535w,{%- endif -%}
                {%- if media.preview_image.width >= 750 -%}{{ media.preview_image | img_url: '750x' }} 750w,{%- endif -%}
                {%- if media.preview_image.width >= 1070 -%}{{ media.preview_image | img_url: '1070x' }} 1070w,{%- endif -%}
                {%- if media.preview_image.width >= 1500 -%}{{ media.preview_image | img_url: '1500x' }} 1500w,{%- endif -%}
                {{ media.preview_image | img_url: 'master' }} {{ media.preview_image.width }}w"
            src="{{ media.preview_image | img_url: '1500x' }}"
            sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 1080px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)"
            alt="{{ media.preview_image.alt | escape }}"
            loading="lazy"
            width="{{ media.preview_image.width }}"
          >
          </div>
        {% endfor %}
      </div>

  </div>
  <div class="productmain1__details">

    {%- for block in section.blocks -%}
      {%- case block.type -%}

        {%- when 'title' -%}
          <h2 class="productmain1__details__title" {{ block.shopify_attributes }}>
            {{ product.title | escape }}
          </h2>

        {%- when '@app' -%}
          <div class='productmain1__details__ratings'>
            {% render block %}
          </div>

        {%- when 'price' -%}
          <div class="no-js-hidden" id="price-{{ section.id }}" role="status" {{ block.shopify_attributes }}>
            {%- render 'price_block', product: product, use_variant: true, show_badges: true -%}
          </div>

          {%- when 'variant_picker' -%}
          {%- unless product.has_only_default_variant -%}
            {%- if block.settings.picker_type == 'button' -%}
              <variant-radios class="no-js-hidden" data-section="{{ section.id }}" data-url="{{ product.url }}" {{ block.shopify_attributes }}>
                {%- for option in product.options_with_values -%}
                    <fieldset class="js product-form__input">
                      <legend class="form__label">{{ option.name }}</legend>
                      {%- for value in option.values -%}
                        <input type="radio" id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                              name="{{ option.name }}"
                              value="{{ value | escape }}"
                              form="{{ product_form_id }}"
                              {% if option.selected_value == value %}checked{% endif %}
                        >
                        <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}">
                          {{ value }}
                        </label>
                      {%- endfor -%}
                    </fieldset>
                {%- endfor -%}
                <script type="application/json">
                  {{ product.variants | json }}
                </script>
              </variant-radios>
            {%- else -%}
              <variant-selects class="no-js-hidden" data-section="{{ section.id }}" data-url="{{ product.url }}" {{ block.shopify_attributes }}>
                {%- for option in product.options_with_values -%}
                  <div class="product-form__input product-form__input--dropdown">
                    <label class="form__label" for="Option-{{ section.id }}-{{ forloop.index0 }}">
                      {{ option.name }}
                    </label>
                    <div class="select">
                      <select id="Option-{{ section.id }}-{{ forloop.index0 }}"
                        class="select__select"
                        name="options[{{ option.name | escape }}]"
                        form="{{ product_form_id }}"
                      >
                        {%- for value in option.values -%}
                          <option value="{{ value | escape }}" {% if option.selected_value == value %}selected="selected"{% endif %}>
                            {{ value }}
                          </option>
                        {%- endfor -%}
                      </select>
                      {% render 'icon-caret' %}
                    </div>
                  </div>
                {%- endfor -%}

                <script type="application/json">
                  {{ product.variants | json }}
                </script>
              </variant-selects>
            {%- endif -%}
          {%- endunless -%}

          <noscript class="product-form__noscript-wrapper-{{ section.id }}">
            <div class="product-form__input{% if product.has_only_default_variant %} hidden{% endif %}">
              <label class="form__label" for="Variants-{{ section.id }}">{{ 'products.product.product_variants' | t }}</label>
              <div class="select">
                <select name="id" id="Variants-{{ section.id }}" class="select__select" form="{{ product_form_id }}">
                  {%- for variant in product.variants -%}
                    <option
                      {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %}
                      {% if variant.available == false %}disabled{% endif %}
                      value="{{ variant.id }}"
                    >
                      {{ variant.title }}
                      {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
                      - {{ variant.price | money | strip_html }}
                    </option>
                  {%- endfor -%}
                </select>
                {% render 'icon-caret' %}
              </div>
            </div>
          </noscript>

        {%- when 'quantity_selector' -%}

        <div class="product-form__input product-form__quantity" {{ block.shopify_attributes }}>

          <label class="form__label sr-only" for="Quantity-{{ section.id }}">
            {{ 'products.product.quantity.label' | t }}
          </label>

          <div class="productmain1__details__quantity" 
              x-data="{
                qty: 1,
                minus(val) {
                  (this.qty == 1) ? this.qty = 1 : this.qty -= val;
                },
                plus(val) {
                  this.qty += val;
                }
              }">
              <button class="productmain1__details__quantity__minus" @click="minus(1)">
                <span class="sr-only">{{ 'products.product.quantity.decrease' | t: product: product.title | escape }}</span>
                  {% render 'icon-minus' %}
              </button>

              <input type="number" name="quantity" class="productmain1__details__quantity__amount" value="1" min="1" max="10" x-model="qty">

              <button class="productmain1__details__quantity__plus" @click="plus(1)">
                <span class="sr-only">{{ 'products.product.quantity.increase' | t: product: product.title | escape }}</span>
                  {% render 'icon-plus' %}
              </button>
          </div>
        </div>

          {%- when 'buy_buttons' -%}
        <div class="productmain1__details__addToCartWrapper" x-data="{
                qty: 1,
                addToCart() {
                  let formdata = new FormData($refs.product_form);

                  fetch(window.Shopify.routes.root + 'cart/add.js', {
                    method: 'POST',
                    body: formdata
                  })
                  .then(response => {
                    return response.json();
                  })
                  .then(response => {
                    console.log(response)
                    this.$dispatch('cart-updated')
                  })
                  .catch((error) => {
                    console.error('Error:', error);
                  });
                }
              }"> 
          {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', x-ref: 'product_form' -%}
          <div class="product-form__error-message-wrapper" role="alert" hidden>
            <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-error" viewBox="0 0 13 13">
              <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
              <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
              <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
              <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
             </svg>
            <span class="product-form__error-message"></span>
          </div>

            <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
            <input type="hidden" name="quantity" value="1" x-model="{qty}">
            <div class="productmain1__details__addToCart">
              <button
                type="button"
                name="add"
                class="product-form__submit productmain1__details__addToCart__button"
                @click="addToCart()"
              {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}
              >
                <span>
                  {%- if product.selected_or_first_available_variant.available -%}
                    {{ 'products.product.add_to_cart' | t }}
                  {%- else -%}
                    {{ 'products.product.sold_out' | t }}
                  {%- endif -%}
                </span>
              </button>
              <div class="productmain1__details__addToWishlist__button">
                  <i class="far fa-heart fa-lg"></i>
              </div>
            </div>
              {%- if block.settings.show_dynamic_checkout -%}
                {{ form | payment_button }}
              {%- endif -%}
              {%- endform -%}
        </div>
          
            
          {%- when 'collapsible_tab' -%}
            <div class="product__accordion accordion productmain1__details__accordion" {{ block.shopify_attributes }}>
              <details id="Details-{{ block.id }}-{{ section.id }}" class="productmain1__details__accordion__description">
                <summary class="productmain1__details__accordion__description__button">
                  <div class="summary__title ">
                    {% render 'icon-accordion', icon: block.settings.icon %}
                    <span class="productmain1__details__accordion__description__button__title">
                      {{ block.settings.heading | default: block.settings.page.title }}
                    </span>
                  </div>
                  {% render 'icon-caret' %}
                </summary>
                <div class="accordion__content rte" id="ProductAccordion-{{ block.id }}-{{ section.id }}">
                  {{ block.settings.content }}
                  {{ block.settings.page.content }}
                </div>
              </details>
            </div>
      {% endcase %}
    {% endfor %}
  </div>
</div>



{% schema %}
{
  "name": "t:sections.main-product.name",
  "tag": "section",
  "class": "product-section spaced-section",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "text",
      "name": "t:sections.main-product.blocks.text.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Text block",
          "label": "t:sections.main-product.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.main-product.blocks.text.settings.text_style.options__1.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.main-product.blocks.text.settings.text_style.options__2.label"
            },
            {
              "value": "uppercase",
              "label": "t:sections.main-product.blocks.text.settings.text_style.options__3.label"
            }
          ],
          "default": "body",
          "label": "t:sections.main-product.blocks.text.settings.text_style.label"
        }
      ]
    },
    {
      "type": "title",
      "name": "t:sections.main-product.blocks.title.name",
      "limit": 1
    },
    {
      "type": "price",
      "name": "t:sections.main-product.blocks.price.name",
      "limit": 1
    },
    {
      "type": "quantity_selector",
      "name": "t:sections.main-product.blocks.quantity_selector.name",
      "limit": 1
    },
    {
      "type": "variant_picker",
      "name": "t:sections.main-product.blocks.variant_picker.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "picker_type",
          "options": [
            {
              "value": "dropdown",
              "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__1.label"
            },
            {
              "value": "button",
              "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__2.label"
            }
          ],
          "default": "button",
          "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.label"
        }
      ]
    },
    {
      "type": "buy_buttons",
      "name": "t:sections.main-product.blocks.buy_buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_dynamic_checkout",
          "default": true,
          "label": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.label",
          "info": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.info"
        }
      ]
    },
    {
      "type": "description",
      "name": "t:sections.main-product.blocks.description.name",
      "limit": 1
    },
    {
      "type": "share",
      "name": "t:sections.main-product.blocks.share.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "share_label",
          "label": "t:sections.main-product.blocks.share.settings.text.label",
          "default": "Share"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.share.settings.featured_image_info.content"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.share.settings.title_info.content"
        }
      ]
    },
    {
      "type": "custom_liquid",
      "name": "t:sections.main-product.blocks.custom_liquid.name",
      "settings": [
        {
          "type": "liquid",
          "id": "custom_liquid",
          "label": "t:sections.main-product.blocks.custom_liquid.settings.custom_liquid.label",
          "info": "t:sections.main-product.blocks.custom_liquid.settings.custom_liquid.info"
        }
      ]
    },
    {
      "type": "collapsible_tab",
      "name": "t:sections.main-product.blocks.collapsible_tab.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Collapsible tab",
          "info": "t:sections.main-product.blocks.collapsible_tab.settings.heading.info",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.content.label"
        },
        {
          "type": "page",
          "id": "page",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.page.label"
        },
        {
          "type": "select",
          "id": "icon",
          "options": [
            {
              "value": "none",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__1.label"
            },
            {
              "value": "box",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__2.label"
            },
            {
              "value": "chat_bubble",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__3.label"
            },
            {
              "value": "check_mark",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__4.label"
            },
            {
              "value": "dryer",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__5.label"
            },
            {
              "value": "eye",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__6.label"
            },
            {
              "value": "heart",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__7.label"
            },
            {
              "value": "iron",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__8.label"
            },
            {
              "value": "leaf",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__9.label"
            },
            {
              "value": "leather",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__10.label"
            },
            {
              "value": "lock",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__11.label"
            },
            {
              "value": "map_pin",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__12.label"
            },
            {
              "value": "pants",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__13.label"
            },
            {
              "value": "plane",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__14.label"
            },
            {
              "value": "price_tag",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__15.label"
            },
            {
              "value": "question_mark",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__16.label"
            },
            {
              "value": "return",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__17.label"
            },
            {
              "value": "ruler",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__18.label"
            },
            {
              "value": "shirt",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__19.label"
            },
            {
              "value": "shoe",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__20.label"
            },
            {
              "value": "silhouette",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__21.label"
            },
            {
              "value": "star",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__22.label"
            },
            {
              "value": "truck",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__23.label"
            },
            {
              "value": "washing",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__24.label"
            }
          ],
          "default": "check_mark",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.label"
        }
      ]
    },
    {
      "type": "popup",
      "name": "t:sections.main-product.blocks.popup.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Pop-up link text",
          "label": "t:sections.main-product.blocks.popup.settings.link_label.label"
        },
        {
          "id": "page",
          "type": "page",
          "label": "t:sections.main-product.blocks.popup.settings.page.label"
        }
      ]
    },
    {
      "type": "rating",
      "name": "t:sections.main-product.blocks.rating.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.rating.settings.paragraph.content"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_sticky_info",
      "default": true,
      "label": "t:sections.main-product.settings.enable_sticky_info.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-product.settings.header.content",
      "info": "t:sections.main-product.settings.header.info"
    },
    {
      "type": "checkbox",
      "id": "hide_variants",
      "default": false,
      "label": "t:sections.main-product.settings.hide_variants.label"
    },
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "default": false,
      "label": "t:sections.main-product.settings.enable_video_looping.label"
    }
  ]
}
{% endschema %}
