{% layout none %}

<form method="post" action="{{ routes.cart_url }}">
    <div class="cart1__wrapper__header">
        <h6>{{ 'sections.cart.title' | t }}</h6><i class="fa fa-times-circle" aria-hidden="true"></i>
    </div>
    <div class="cart1__wrapper__content">
    {%- if cart.item_count > 0 -%}
    <ul class="cart1__wrapper__content__list">
    {%- for item in cart.items -%}
    <li>
        <a class="cart1__wrapper__content__list__link">
        <div class="cart1__wrapper__content__list__link__item">
            <div class="cart1__wrapper__content__list__link__item__image">
                <img 
                src="{{ item.image | img_url: '300x' }}"
                alt="{{ item.image.alt | escape }}"
                loading="lazy"
                width="150"
                height="{{ 150 | divided_by: item.image.aspect_ratio | ceil }}"
                >
            </div>
            <div class="cart1__wrapper__content__list__link__item__info">
                <h6>{{ item.product.title | escape }}</h6>
                <div class="cart1__wrapper__content__list__link__item__info__price">
                    <span>{{ item.original_price | money }}</span>
                </div>
                <div class="cart1__wrapper__content__list__link__item__info__quantity">
                    <span class="cart1__wrapper__content__list__link__item__info__quantity__decrement">-</span>
                    <span>
                    <input
                        type="number"
                        name="updates[]"
                        value="{{ item.quantity }}"
                        min="0"
                        aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
                        id="Quantity-{{ item.index | plus: 1 }}"
                        data-index="{{ item.index | plus: 1 }}"
                    >
                    </span>
                    <span class="cart1__wrapper__content__list__link__item__info__quantity__increment">+</span>
                </div>
                <div class="cart1__wrapper__content__list__link__item__delete">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        </a>
    </li>
    {%- endfor -%}
    </ul>
    {%- else -%}

    <p>No items in cart</p>
    {%- endif -%}
        
    </div>
    <div class="cart1__wrapper__footer">
        <div class="cart1__wrapper__footer__subtotal">
        <span class="cart1__wrapper__footer__subtotal__title">{{ 'sections.cart.subtotal' | t }}</span>
        <span class="cart1__wrapper__footer__subtotal__amount">{{ cart.total_price | money_with_currency }}</span>
        </div>
        <div class="cart1__wrapper__footer__checkout">
        <input type="submit" class="cart1__wrapper__footer__checkout__btn" name="checkout" value="Checkout">
        </div>
    </div>
</form>